{% extends 'base.html' %}

{% block content %}
<h1>Contact us!</h1>

  <div class="row">
    <form class="col s12" method="post">
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" name="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" name="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>
       <div class="row">
        <div class="input-field col s12">
          <input id="email" name="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
        <div class="row">
        <div class="input-field col s12">
            <textarea id="text" name="text" class="materialize-textarea" data-length="120"></textarea>
          <label for="text">Comment</label>
        </div>
      </div>
        <button class="btn">Send!</button>
    </form>
  </div>

{% endblock %}